form {
  margin: 20px 0;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.formGroup label {
  font-size: .9rem;
  margin-bottom: 5px;
}

.formGroup input {
  height: 35px;
  padding: 0 10px;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
}

.inlineGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin-bottom: 20px;
}

::placeholder {
  color: black;
}